<div class="row">

  <div class="col-md-6">
    <%= render 'form' %>
  </div>
  <div class="col-md-6">
    <h2><%= I18n.t "project.register_advantages" %></h2>
    <ul>
      <%= t "project.register_advantages_html" %>
    </ul>
  </div>
</div>
