<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to fa_icon("heart", text: I18n.t("project.subscribe")), new_project_helper_path(project, invite_key: project.invite_key), class: "btn btn-u" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
