    <!--=== Content Part ===-->
    <div class="container content-sm">
    	<!-- Service Blocks -->
    	<div class="row margin-bottom-30">
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-check-circle-o service-icon"></i>
        			<div class="desc">
        				<h4>Deine E-Mail eintragen</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-envelope service-icon"></i>
        			<div class="desc">
        				<h4>Mail bekommen</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-heart service-icon"></i>
        			<div class="desc">
        				<h4>Helfen</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        			</div>
        		</div>
        	</div>
    	</div>
    	<!-- End Service Blokcs -->

    </div><!--/container-->
    <!-- End Content Part -->