	  <!--=== Sign-In Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
				<form action="#" id="sky-form" class="sky-form">
					<div class="col-md-6">
						<span>helperchain - Die digitale Helferkette</span>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat corrupti quos.</p>

					</div>
					<div class="col-md-3">
                        <label class="input">
                            <i class="icon-prepend fa fa-envelope"></i>
							<input type="email" name="email" placeholder="E-mail">
                        </label>
						<label class="input">
							<i class="icon-prepend fa fa-location-arrow"></i>
							<input type="location" name="location" placeholder="PLZ oder Stadt">
						</label>
						<a href="#" class="btn-u btn-u-lg"><i class="fa fa-heart"></i> Dabei sein!</a>
					</div>
				</form>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Sign-In Block -->

    <!--=== Content Part ===-->
    <div class="container content-sm">
    	<!-- Service Blocks -->
    	<div class="row margin-bottom-30">
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-check-circle-o service-icon"></i>
        			<div class="desc">
        				<h4>Deine E-Mail eintragen</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-envelope service-icon"></i>
        			<div class="desc">
        				<h4>Mail bekommen</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-heart service-icon"></i>
        			<div class="desc">
        				<h4>Helfen</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        			</div>
        		</div>
        	</div>
    	</div>
    	<!-- End Service Blokcs -->

      <!--=== Sign-In Block ===-->
      <div class="purchase">
          <div class="container">
              <div class="row">
  				<form action="#" id="sky-form" class="sky-form">
  					<div class="col-md-6">
  						<span>Keine List mehr zu helfen?</span>
  						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat corrupti quos.</p>

  					</div>
  					<div class="col-md-3">
                          <label class="input">
                              <i class="icon-prepend fa fa-envelope"></i>
  							<input type="email" name="email" placeholder="E-mail">
                          </label>
  						<a href="#" class="btn-u btn-u-lg"><i class="fa fa-heart"></i> Tragt mich aus!</a>
  					</div>
  				</form>
              </div>
          </div>
      </div><!--/row-->
      <!-- End Sign-In Block -->

    </div><!--/container-->
    <!-- End Content Part -->
