<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= yield %>

    <p>
      <%= I18n.t "mail.unsubscribe_text"%><br />
      <%= link_to I18n.t("mail.optout_link"), helpers_unsubscribe_url(email: @helper.email, confirmation_key: @helper.confirmation_key) %>
    </p>
  </body>
</html>
